body {
    user-select: none;
}
.calculator {
    width: 290px;
    height: 380px;
    margin: 0 auto;
    background: lightgray;
    border: black 15px solid;
    border-radius: 5px;
          
}
.screen {
    margin-top: 10px;
    display: flex; 
    justify-content: center;

}
.show-result {
    display: flex;
    text-align: end;
    border: 3px black solid;
    border-radius: 1px;
    width: 100%;
    height: 35px;
    }
    form {
        display: flex;
        width: 82%;
    }
    
    .item {
        width: 53px;
        height: 40px;
        background: black;
        color: orangered;
        margin: 2px;
        display: flex;
        align-items: center;
        justify-content: center;
        border: 2px solid orangered
    } 
    .buttons {
        display: grid;
        grid-template-columns: 60px 60px 60px 60px;
        margin-top: 20px;
        
    }
    .buttons-wrapper {
       display: flex;
       text-align: center;
       justify-content: center;
         }
         .item-clean {
            grid-column: 1/3;
            background: black;
            color: orangered;
            border: 2px solid orangered;
            display: flex;
            align-items: center;
            justify-content: center;
            height: 40px;
         }
         .item-back {
            grid-column: 3/-1;
            background: black;
            color: orangered;
            border: 2px solid orangered;
            display: flex;
            align-items: center;
            justify-content: center;
            height: 40px;
         }
         .item-equel {
             grid-column: 4;
             grid-row: 5/7;
             background: black;
            color: orangered;
            border: 2px solid orangered;
            display: flex;
            align-items: center;
            justify-content: center;
         }
         .item-zero {
             grid-column: 1/3;
             background: black;
            color: orangered;
            border: 2px solid orangered;
            display: flex;
            align-items: center;
            justify-content: center;
         }
    